/* Inter */
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

.container {
    max-width: 1920px;
    margin: 0 auto;
}

/* header main */

.navbar {
    width: 100%;
    height: 125px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #1C1814;
    padding: 5px 200px;
}

.nav-list {
    display: flex;
    gap: 48px;
}

.items-link {
    font-family: "Inter", sans-serif;
    color: #FFFFFF;
    font-weight: 400;
    font-size: 18px;
}

/* header end */
/* hero-muhammadsiddiq */

/* hero end */
/* 3-4-section-kalimullox */

/* 3-4-section-end */
/*  5-section-muhammadali */

/* 5-section end */
/* 6-section-mashhudbek */

/* 6-section-end */
/* 7-section-muhammadmirzo */

/*  7-section-end */
/* 8-section-mashhudbek */

/* 8-section end */
/* 9-10-section-miraziz */

/* 9-10-section-end */
/* footer main */
.footer {
    margin-top: 40px;
    width: 100%;
    height: 234px;
    display: flex;
    flex-direction: column;
}

.footer-top {
    width: 100%;
    height: 144px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #14110E;
    padding: 5px 200px;
}

.footer-zone {
    width: 250px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-radius: 36px;
    background-color: #1C1814;
    padding-left: 15px;
}

.zone-input {
    border-radius: 40px;
    border: none;
    background-color: #1C1814;
    outline: none;
}

.zone-input::placeholder {
    color: #FFFFFF;
}

.zone-next {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    background-color: #C99E71;
    display: flex;
    align-items: center;
    justify-content: center;
}
.fa-arrow-right{
    color: #FFFFFF;
}
.footer-bottom {
    width: 100%;
    height: 90px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #1C1814;
    color: #FFFFFF;
}

/* footer end */